In [1]:
import pandas as pd

In [2]:
csv_file = '../Resources/test.csv'
csv_file

'../Resources/test.csv'

In [3]:
test_df = pd.read_csv(csv_file)
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
test_df = test_df.loc[(test_df["MSZoning"]=="FV") | (test_df["MSZoning"]=="RH") | (test_df["MSZoning"]=="RL") | (test_df["MSZoning"]=="RP") | (test_df["MSZoning"]=="RM")]

In [5]:
# get dummies
# MSZoning_dummies = pd.get_dummies(train_df.MSZoning, prefix='MSZoning').iloc[:, 1:]
# MSZoning_dummies.head()

In [6]:
for col in test_df.columns:
    print(col)

Id
MSSubClass
MSZoning
LotFrontage
LotArea
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
HeatingQC
CentralAir
Electrical
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PavedDrive
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
Fence
MiscFeature
MiscVal
MoSold
YrSold
SaleType
SaleCondition

In [7]:
# Passing dataframe in to Get dummies for non hierarchical variables 
test_df = pd.get_dummies(test_df, columns=['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope','Neighborhood', 'Condition1', 'Condition2','BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'Foundation', 'Heating', 'CentralAir', 'Electrical', 'GarageType', 'PavedDrive', 'MiscFeature', 'SaleType', 'SaleCondition'], drop_first=True) 
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,TA,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,TA,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,TA,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,TA,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,Gd,...,0,0,0,0,1,0,0,0,1,0

In [8]:
test_df.LotFrontage.fillna(0, inplace=True)

In [9]:
test_df[test_df.LotFrontage.isnull()]

Empty DataFrame
Columns: [Id, MSSubClass, LotFrontage, LotArea, OverallQual, OverallCond, YearBuilt, YearRemodAdd, MasVnrArea, ExterQual, ExterCond, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, HeatingQC, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscVal, MoSold, YrSold, MSZoning_RH, MSZoning_RL, MSZoning_RM, Street_Pave, Alley_Pave, LotShape_IR2, LotShape_IR3, LotShape_Reg, LandContour_HLS, LandContour_Low, LandContour_Lvl, LotConfig_CulDSac, LotConfig_FR2, LotConfig_FR3, LotConfig_Inside, LandSlope_Mod, LandSlope_Sev, Neighborhood_Blueste, Neighborhood_BrDale, Neighborhood_BrkSide, Neighborhood_ClearCr, Neighborhood_CollgCr, Neighborhood_Crawfor, Neighborhood_Edwards, Neighborhood_Gilbert, Neighborhood_IDOTRR, Neighborhood_MeadowV, Neighborhood_Mitchel, Neighborhood_NAmes, Neighborhood_NPkVill, Neighborhood_NWAmes, Neighborhood_NoRidge, Neighborhood_NridgHt, Neighborhood_OldTown, Neighborhood_SWISU, Neighborhood_Sawyer, Neighborhood_SawyerW, Neighborhood_Somerst, Neighborhood_StoneBr, Neighborhood_Timber, Neighborhood_Veenker, Condition1_Feedr, Condition1_Norm, Condition1_PosA, Condition1_PosN, Condition1_RRAe, Condition1_RRAn, ...]
Index: []

[0 rows x 186 columns]

In [10]:
test_df["GarageYrBlt"].mean()

1978.0868613138687

In [11]:
test_df.GarageYrBlt.fillna(1978, inplace=True)

# Hirachial variables 
ExterQual
ExterCond
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
HeatingQC
KitchenQual
Functional
FireplaceQu
GarageFinish
GarageQual
GarageCond
Fence

In [12]:
test_df.value_counts('ExterQual')

ExterQual
TA    879
Gd    490
Ex     55
Fa     16
dtype: int64

In [13]:
test_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1440 entries, 0 to 1458
Data columns (total 186 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     1440 non-null   int64
 1   MSSubClass             1440 non-null   int64
 2   LotFrontage            1440 non-null   float64
 3   LotArea                1440 non-null   int64
 4   OverallQual            1440 non-null   int64
 5   OverallCond            1440 non-null   int64
 6   YearBuilt              1440 non-null   int64
 7   YearRemodAdd           1440 non-null   int64
 8   MasVnrArea             1425 non-null   float64
 9   ExterQual              1440 non-null   object
 10  ExterCond              1440 non-null   object
 11  BsmtQual               1402 non-null   object
 12  BsmtCond               1399 non-null   object
 13  BsmtExposure           1400 non-null   object
 14  BsmtFinType1           1402 non-null   object
 15  BsmtFinSF1             1439 non-null   float64
 16  BsmtFinType2           1402 non-null   object
 17  BsmtFinSF2             1439 non-null   float64
 18  BsmtUnfSF              1439 non-null   float64
 19  TotalBsmtSF            1439 non-null   float64
 20  HeatingQC              1440 non-null   object
 21  1stFlrSF               1440 non-null   int64
 22  2ndFlrSF               1440 non-null   int64
 23  LowQualFinSF           1440 non-null   int64
 24  GrLivArea              1440 non-null   int64
 25  BsmtFullBath           1438 non-null   float64
 26  BsmtHalfBath           1438 non-null   float64
 27  FullBath               1440 non-null   int64
 28  HalfBath               1440 non-null   int64
 29  BedroomAbvGr           1440 non-null   int64
 30  KitchenAbvGr           1440 non-null   int64
 31  KitchenQual            1439 non-null   object
 32  TotRmsAbvGrd           1440 non-null   int64
 33  Functional             1439 non-null   object
 34  Fireplaces             1440 non-null   int64
 35  FireplaceQu            728 non-null    object
 36  GarageYrBlt            1440 non-null   float64
 37  GarageFinish           1370 non-null   object
 38  GarageCars             1439 non-null   float64
 39  GarageArea             1439 non-null   float64
 40  GarageQual             1370 non-null   object
 41  GarageCond             1370 non-null   object
 42  WoodDeckSF             1440 non-null   int64
 43  OpenPorchSF            1440 non-null   int64
 44  EnclosedPorch          1440 non-null   int64
 45  3SsnPorch              1440 non-null   int64
 46  ScreenPorch            1440 non-null   int64
 47  PoolArea               1440 non-null   int64
 48  PoolQC                 3 non-null      object
 49  Fence                  290 non-null    object
 50  MiscVal                1440 non-null   int64
 51  MoSold                 1440 non-null   int64
 52  YrSold                 1440 non-null   int64
 53  MSZoning_RH            1440 non-null   uint8
 54  MSZoning_RL            1440 non-null   uint8
 55  MSZoning_RM            1440 non-null   uint8
 56  Street_Pave            1440 non-null   uint8
 57  Alley_Pave             1440 non-null   uint8
 58  LotShape_IR2           1440 non-null   uint8
 59  LotShape_IR3           1440 non-null   uint8
 60  LotShape_Reg           1440 non-null   uint8
 61  LandContour_HLS        1440 non-null   uint8
 62  LandContour_Low        1440 non-null   uint8
 63  LandContour_Lvl        1440 non-null   uint8
 64  LotConfig_CulDSac      1440 non-null   uint8
 65  LotConfig_FR2          1440 non-null   uint8
 66  LotConfig_FR3          1440 non-null   uint8
 67  LotConfig_Inside       1440 non-null   uint8
 68  LandSlope_Mod          1440 non-null   uint8
 69  LandSlope_Sev          1440 non-null   uint8
 70  Neighborhood_Blueste   1440 non-null   uint8
 71  Neighborhood_BrDale    1440 non-null   uint8
 72  Neighborhood_BrkSide   1440 non-null   uint8
 73  Neighborhood_ClearCr   1440 non-null   uint8
 74  Neighborhood_CollgCr   1440 non-null   uint8
 75  Neighborhood_Crawfor   1440 non-null   uint8
 76  Neighborhood_Edwards   1440 non-null   uint8
 77  Neighborhood_Gilbert   1440 non-null   uint8
 78  Neighborhood_IDOTRR    1440 non-null   uint8
 79  Neighborhood_MeadowV   1440 non-null   uint8
 80  Neighborhood_Mitchel   1440 non-null   uint8
 81  Neighborhood_NAmes     1440 non-null   uint8
 82  Neighborhood_NPkVill   1440 non-null   uint8
 83  Neighborhood_NWAmes    1440 non-null   uint8
 84  Neighborhood_NoRidge   1440 non-null   uint8
 85  Neighborhood_NridgHt   1440 non-null   uint8
 86  Neighborhood_OldTown   1440 non-null   uint8
 87  Neighborhood_SWISU     1440 non-null   uint8
 88  Neighborhood_Sawyer    1440 non-null   uint8
 89  Neighborhood_SawyerW   1440 non-null   uint8
 90  Neighborhood_Somerst   1440 non-null   uint8
 91  Neighborhood_StoneBr   1440 non-null   uint8
 92  Neighborhood_Timber    1440 non-null   uint8
 93  Neighborhood_Veenker   1440 non-null   uint8
 94  Condition1_Feedr       1440 non-null   uint8
 95  Condition1_Norm        1440 non-null   uint8
 96  Condition1_PosA        1440 non-null   uint8
 97  Condition1_PosN        1440 non-null   uint8
 98  Condition1_RRAe        1440 non-null   uint8
 99  Condition1_RRAn        1440 non-null   uint8
 100 Condition1_RRNe        1440 non-null   uint8
 101 Condition1_RRNn        1440 non-null   uint8
 102 Condition2_Feedr       1440 non-null   uint8
 103 Condition2_Norm        1440 non-null   uint8
 104 Condition2_PosA        1440 non-null   uint8
 105 Condition2_PosN        1440 non-null   uint8
 106 BldgType_2fmCon        1440 non-null   uint8
 107 BldgType_Duplex        1440 non-null   uint8
 108 BldgType_Twnhs         1440 non-null   uint8
 109 BldgType_TwnhsE        1440 non-null   uint8
 110 HouseStyle_1.5Unf      1440 non-null   uint8
 111 HouseStyle_1Story      1440 non-null   uint8
 112 HouseStyle_2.5Unf      1440 non-null   uint8
 113 HouseStyle_2Story      1440 non-null   uint8
 114 HouseStyle_SFoyer      1440 non-null   uint8
 115 HouseStyle_SLvl        1440 non-null   uint8
 116 RoofStyle_Gable        1440 non-null   uint8
 117 RoofStyle_Gambrel      1440 non-null   uint8
 118 RoofStyle_Hip          1440 non-null   uint8
 119 RoofStyle_Mansard      1440 non-null   uint8
 120 RoofStyle_Shed         1440 non-null   uint8
 121 RoofMatl_Tar&Grv       1440 non-null   uint8
 122 RoofMatl_WdShake       1440 non-null   uint8
 123 RoofMatl_WdShngl       1440 non-null   uint8
 124 Exterior1st_AsphShn    1440 non-null   uint8
 125 Exterior1st_BrkComm    1440 non-null   uint8
 126 Exterior1st_BrkFace    1440 non-null   uint8
 127 Exterior1st_CemntBd    1440 non-null   uint8
 128 Exterior1st_HdBoard    1440 non-null   uint8
 129 Exterior1st_MetalSd    1440 non-null   uint8
 130 Exterior1st_Plywood    1440 non-null   uint8
 131 Exterior1st_Stucco     1440 non-null   uint8
 132 Exterior1st_VinylSd    1440 non-null   uint8
 133 Exterior1st_Wd Sdng    1440 non-null   uint8
 134 Exterior1st_WdShing    1440 non-null   uint8
 135 Exterior2nd_AsphShn    1440 non-null   uint8
 136 Exterior2nd_Brk Cmn    1440 non-null   uint8
 137 Exterior2nd_BrkFace    1440 non-null   uint8
 138 Exterior2nd_CBlock     1440 non-null   uint8
 139 Exterior2nd_CmentBd    1440 non-null   uint8
 140 Exterior2nd_HdBoard    1440 non-null   uint8
 141 Exterior2nd_ImStucc    1440 non-null   uint8
 142 Exterior2nd_MetalSd    1440 non-null   uint8
 143 Exterior2nd_Plywood    1440 non-null   uint8
 144 Exterior2nd_Stone      1440 non-null   uint8
 145 Exterior2nd_Stucco     1440 non-null   uint8
 146 Exterior2nd_VinylSd    1440 non-null   uint8
 147 Exterior2nd_Wd Sdng    1440 non-null   uint8
 148 Exterior2nd_Wd Shng    1440 non-null   uint8
 149 MasVnrType_BrkFace     1440 non-null   uint8
 150 MasVnrType_None        1440 non-null   uint8
 151 MasVnrType_Stone       1440 non-null   uint8
 152 Foundation_CBlock      1440 non-null   uint8
 153 Foundation_PConc       1440 non-null   uint8
 154 Foundation_Slab        1440 non-null   uint8
 155 Foundation_Stone       1440 non-null   uint8
 156 Foundation_Wood        1440 non-null   uint8
 157 Heating_GasW           1440 non-null   uint8
 158 Heating_Grav           1440 non-null   uint8
 159 Heating_Wall           1440 non-null   uint8
 160 CentralAir_Y           1440 non-null   uint8
 161 Electrical_FuseF       1440 non-null   uint8
 162 Electrical_FuseP       1440 non-null   uint8
 163 Electrical_SBrkr       1440 non-null   uint8
 164 GarageType_Attchd      1440 non-null   uint8
 165 GarageType_Basment     1440 non-null   uint8
 166 GarageType_BuiltIn     1440 non-null   uint8
 167 GarageType_CarPort     1440 non-null   uint8
 168 GarageType_Detchd      1440 non-null   uint8
 169 PavedDrive_P           1440 non-null   uint8
 170 PavedDrive_Y           1440 non-null   uint8
 171 MiscFeature_Othr       1440 non-null   uint8
 172 MiscFeature_Shed       1440 non-null   uint8
 173 SaleType_CWD           1440 non-null   uint8
 174 SaleType_Con           1440 non-null   uint8
 175 SaleType_ConLD         1440 non-null   uint8
 176 SaleType_ConLI         1440 non-null   uint8
 177 SaleType_ConLw         1440 non-null   uint8
 178 SaleType_New           1440 non-null   uint8
 179 SaleType_Oth           1440 non-null   uint8
 180 SaleType_WD            1440 non-null   uint8
 181 SaleCondition_AdjLand  1440 non-null   uint8
 182 SaleCondition_Alloca   1440 non-null   uint8
 183 SaleCondition_Family   1440 non-null   uint8
 184 SaleCondition_Normal   1440 non-null   uint8
 185 SaleCondition_Partial  1440 non-null   uint8
dtypes: float64(11), int64(26), object(16), uint8(133)
memory usage: 794.5+ KB

In [14]:
test_df.isnull().sum()

Id                       0
MSSubClass               0
LotFrontage              0
LotArea                  0
OverallQual              0
                        ..
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 186, dtype: int64

In [15]:
test_df.ExterQual.value_counts(dropna=False)

TA    879
Gd    490
Ex     55
Fa     16
Name: ExterQual, dtype: int64

In [16]:
test_df.ExterQual.fillna(0, inplace=True)

In [17]:
# formatting  ['ExterQual'] to Hirachial value 
test_df['ExterQual'] = test_df['ExterQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [18]:
# replace testing 
test_df.value_counts('ExterQual')

ExterQual
3    879
4    490
5     55
2     16
dtype: int64

In [19]:
test_df.ExterCond.value_counts(dropna=False)

TA    1245
Gd     152
Fa      33
Ex       9
Po       1
Name: ExterCond, dtype: int64

In [20]:
test_df.ExterCond.fillna(0, inplace=True)

In [21]:
# formatting  ['ExterCond'] to Hirachial value 
test_df['ExterCond'] = test_df['ExterCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [22]:
# replace testing 
test_df.value_counts('ExterCond')

ExterCond
3    1245
4     152
2      33
5       9
1       1
dtype: int64

In [23]:
test_df.BsmtQual.value_counts(dropna=False)

TA     624
Gd     591
Ex     137
Fa      50
NaN     38
Name: BsmtQual, dtype: int64

In [24]:
test_df.BsmtQual.fillna(0, inplace=True)

In [25]:
test_df.BsmtQual.value_counts()

TA    624
Gd    591
Ex    137
Fa     50
0      38
Name: BsmtQual, dtype: int64

In [26]:
# test_df.loc[train_df.BsmtQual.isnull()]['BsmtQual']

In [27]:
# formatting  ['BsmtQual'] to Hirachial value 
test_df['BsmtQual'] = test_df['BsmtQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [28]:
# replace testing 
test_df.value_counts('BsmtQual')

BsmtQual
3    624
4    591
5    137
2     50
0     38
dtype: int64

In [29]:
test_df.BsmtCond.value_counts(dropna=False)

TA     1284
Gd       57
Fa       55
NaN      41
Po        3
Name: BsmtCond, dtype: int64

In [30]:
test_df.BsmtCond.fillna(0, inplace=True)

In [31]:
#train_df.loc[train_df.BsmtCond.isnull()]['BsmtCond']

In [32]:
# formatting  ['BsmtCond'] to Hirachial value 
test_df['BsmtCond'] = test_df['BsmtCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [33]:
# replace testing 
test_df.value_counts('BsmtCond')

BsmtCond
3    1284
4      57
2      55
0      41
1       3
dtype: int64

In [34]:
test_df.BsmtExposure.value_counts(dropna=False)

No     938
Av     197
Gd     142
Mn     123
NaN     40
Name: BsmtExposure, dtype: int64

In [35]:
test_df.BsmtExposure.fillna(0, inplace=True)

In [36]:
# formatting  ['BsmtExposure'] to Hirachial value 
test_df['BsmtExposure'] = test_df['BsmtExposure'].replace({'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [37]:
# replace testing 
test_df.value_counts('BsmtExposure')

BsmtExposure
1    938
3    197
4    142
2    123
0     40
dtype: int64

In [38]:
test_df.BsmtFinType1.value_counts(dropna=False)

GLQ    430
Unf    409
ALQ    208
Rec    154
BLQ    121
LwQ     80
NaN     38
Name: BsmtFinType1, dtype: int64

In [39]:
test_df.BsmtFinType1.fillna(0, inplace=True)

In [40]:
# formatting  ['BsmtFinType1'] to Hirachial value 
test_df['BsmtFinType1'] = test_df['BsmtFinType1'].replace({'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ':2, 'Unf': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [41]:
# replace testing 
test_df.value_counts('BsmtFinType1')

BsmtFinType1
6    430
1    409
5    208
3    154
4    121
2     80
0     38
dtype: int64

In [42]:
test_df.BsmtFinType2.value_counts(dropna=False)

Unf    1222
Rec      51
LwQ      41
NaN      38
BLQ      35
ALQ      33
GLQ      20
Name: BsmtFinType2, dtype: int64

In [43]:
test_df.BsmtFinType2.fillna(0, inplace=True)

In [44]:
# formatting  ['BsmtFinType2'] to Hirachial value 
test_df['BsmtFinType2'] = test_df['BsmtFinType2'].replace({'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ':2, 'Unf': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [45]:
# replace testing 
test_df.value_counts('BsmtFinType2')

BsmtFinType2
1    1222
3      51
2      41
0      38
4      35
5      33
6      20
dtype: int64

In [46]:
test_df.HeatingQC.value_counts(dropna=False)

Ex    747
TA    422
Gd    231
Fa     39
Po      1
Name: HeatingQC, dtype: int64

In [47]:
test_df.HeatingQC.fillna(0, inplace=True)

In [48]:
# formatting  ['HeatingQC'] to Hirachial value 
test_df['HeatingQC'] = test_df['HeatingQC'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [49]:
# replace testing 
test_df.value_counts('HeatingQC')

HeatingQC
5    747
3    422
4    231
2     39
1      1
dtype: int64

In [50]:
test_df.KitchenQual.value_counts(dropna=False)

TA     742
Gd     564
Ex     105
Fa      28
NaN      1
Name: KitchenQual, dtype: int64

In [51]:
test_df.KitchenQual.fillna(0, inplace=True)

In [52]:
# formatting  ['KitchenQual'] to Hirachial value 
test_df['KitchenQual'] = test_df['KitchenQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [53]:
# replace testing 
test_df.value_counts('KitchenQual')

KitchenQual
3    742
4    564
5    105
2     28
0      1
dtype: int64

In [54]:
test_df.Functional.value_counts(dropna=False)

Typ     1345
Min2      34
Min1      33
Mod       18
Maj2       4
Maj1       4
Sev        1
NaN        1
Name: Functional, dtype: int64

In [55]:
test_df.Functional.fillna(0, inplace=True)

In [56]:
# formatting  ['Functional'] to Hirachial value 
test_df['Functional'] = test_df['Functional'].replace({'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 'Maj2': 3 , 'Sev': 2, 'Sal': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [57]:
# replace testing 
test_df.value_counts('Functional')

Functional
8    1345
6      34
7      33
5      18
4       4
3       4
2       1
0       1
dtype: int64

In [58]:
test_df.FireplaceQu.value_counts(dropna=False)

NaN    712
Gd     363
TA     279
Fa      41
Po      26
Ex      19
Name: FireplaceQu, dtype: int64

In [59]:
test_df.FireplaceQu.fillna(0, inplace=True)

In [60]:
# formatting  ['FireplaceQu'] to Hirachial value 
test_df['FireplaceQu'] = test_df['FireplaceQu'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [61]:
# replace testing 
test_df.value_counts('FireplaceQu')

FireplaceQu
0    712
4    363
3    279
2     41
1     26
5     19
dtype: int64

In [62]:
test_df.GarageFinish.value_counts(dropna=False)

Unf    615
RFn    388
Fin    367
NaN     70
Name: GarageFinish, dtype: int64

In [63]:
test_df.GarageFinish.fillna(0, inplace=True)

In [64]:
# formatting  ['GarageFinish'] to Hirachial value 
test_df['GarageFinish'] = test_df['GarageFinish'].replace({'Fin': 3, 'RFn': 2, 'Unf': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [65]:
# replace testing 
test_df.value_counts('GarageFinish')

GarageFinish
1    615
2    388
3    367
0     70
dtype: int64

In [66]:
test_df.GarageQual.value_counts(dropna=False)

TA     1287
Fa       72
NaN      70
Gd       10
Po        1
Name: GarageQual, dtype: int64

In [67]:
test_df.GarageQual.fillna(0, inplace=True)

In [68]:
# formatting  ['GarageQual'] to Hirachial value 
test_df['GarageQual'] = test_df['GarageQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [69]:
# replace testing 
test_df.value_counts('GarageQual')

GarageQual
3    1287
2      72
0      70
4      10
1       1
dtype: int64

In [70]:
test_df.GarageCond.value_counts(dropna=False)

TA     1322
NaN      70
Fa       36
Gd        6
Po        5
Ex        1
Name: GarageCond, dtype: int64

In [71]:
test_df.GarageCond.fillna(0, inplace=True)

In [72]:
# formatting  ['GarageCond'] to Hirachial value 
test_df['GarageCond'] = test_df['GarageCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po':1, 'NaN': 0})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [73]:
# replace testing 
test_df.value_counts('GarageCond')

GarageCond
3    1322
0      70
2      36
4       6
1       5
5       1
dtype: int64

In [74]:
test_df.PoolQC.value_counts(dropna=False)

NaN    1437
Ex        2
Gd        1
Name: PoolQC, dtype: int64

In [75]:
test_df.PoolQC.fillna(0, inplace=True)

In [76]:
# formatting  ['PoolQC'] to Hirachial value 
test_df['PoolQC'] = test_df['PoolQC'].replace({'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NaN': 0})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [77]:
# replace testing 
test_df.value_counts('PoolQC')

PoolQC
0    1437
4       2
3       1
dtype: int64

In [78]:
test_df.Fence.value_counts(dropna=False)

NaN      1150
MnPrv     172
GdPrv      59
GdWo       58
MnWw        1
Name: Fence, dtype: int64

In [79]:
test_df.Fence.fillna(0, inplace=True)

In [80]:
# formatting  ['Fence'] to Hirachial value 
test_df['Fence'] = test_df['Fence'].replace({'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1})
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,0,1,0

In [81]:
# replace testing 
test_df.value_counts('Fence')

Fence
0    1150
3     172
4      59
2      58
1       1
dtype: int64

In [82]:
test_df['firstflrsf'] = test_df['1stFlrSF']

In [83]:
test_df['secondflrsf'] = test_df['2ndFlrSF']

In [84]:
test_df['thirdPorch'] = test_df['3SsnPorch']

In [85]:
del test_df['3SsnPorch']

In [86]:
del test_df['2ndFlrSF']

In [87]:
del test_df['1stFlrSF']

In [88]:
test_df.to_csv(r'F:/House-Pricing-Predictions/Cleaned_data/test_converted_df.csv', index = False)